<div class="table-wrapper">

  <table class="shad-table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Producto</th>
        <th>Lote</th>
        <th>Cant. Merma</th>
        <th>Tipo de Merma</th>
        <th>Fecha</th>
        <th>Responsable</th>
        <th>Descripción</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let merma of mermas">
        <td>{{ merma.codigo }}</td>
        <td>{{ merma.producto }}</td>
        <td>{{ merma.lote }}</td>
        <td>{{ merma.cantidadMerma }}</td>
        <td>{{ merma.tipoMerma }}</td>
        <td>{{ merma.fecha }}</td>
        <td>{{ merma.responsable }}</td>
        <td class="desc-cell">
          {{ merma.descripcion.length > 35 ? (merma.descripcion | slice:0:35) + '...' : merma.descripcion }}
        </td>

        <td>
          <button class="btn-shad" (click)="verDetalles(merma)">Ver detalles</button>
        </td>
      </tr>
    </tbody>

  </table>

</div>
