/* Contenedor general */
.productos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

/* Título */
.title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #333;
  margin: 0;
}

/* TABLA */
.productos-table {
  background: white;
  width: 90%;
  border-radius: 8px;
  padding-bottom: 2vh;
}

/* Encabezado */
.table-header {
  display: flex;
  justify-content: space-between;
  background: #1b1c29;
  color: white;
  padding: 1.5vh 2vw;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 8px 8px 0 0;
}

.col-name {
  width: 70%;
}

.col-total {
  width: 30%;
  text-align: right;
}

/* ITEM DE PRODUCTO */
.producto-item {
  display: flex;
  justify-content: space-between;
  padding: 2vh 2vw;
  border-bottom: 1px solid #e5e5e5;
}

.producto-info {
  display: flex;
  gap: 2vw;
  width: 70%;
}

.producto-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.producto-text p {
  margin: 0;
}

.producto-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
}

.producto-sub {
  color: #7c7c7c;
  font-size: 1rem;
}

.producto-pres {
  color: #7c7c7c;
  font-size: 0.9rem;
}

/* PRECIO */
.producto-precio {
  width: 30%;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

/* BOTÓN CANCELAR COMPRA */
.cancelar-container {
  width: 90%;
  margin-top: 4vh;
}

.btn-cancelar {
  width: 40%;
  padding: 2vh 1vw;
  font-size: 1.3rem;
  background: #6c4ef2;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.25s;
}

.btn-cancelar:hover {
  background: #593ae0;
}
