<div class="productos-container">

  <!-- Título principal -->
  <h2 class="title">Escanea tus productos</h2>

  <!-- Tabla de productos -->
  <div class="productos-table">

    <!-- Encabezado -->
    <div class="table-header">
      <div class="col-name">Nombre del producto</div>
      <div class="col-total">Total</div>
    </div>

    <!-- Lista de productos (estática por ahora, luego lo hacemos dinámico) -->
    <div class="producto-item">
      <div class="producto-info">
        <img src="assets/images/ejemplo-producto.png" class="producto-img" />

        <div class="producto-text">
          <p class="producto-title">Lipitor 20mg</p>
          <p class="producto-sub">Atorvastatina</p>
          <p class="producto-pres">30 Comprimidos</p>
        </div>
      </div>

      <div class="producto-precio">
        5.000 $
      </div>
    </div>

    <div class="producto-item">
      <div class="producto-info">
        <img src="assets/images/ejemplo-producto.png" class="producto-img" />
        <div class="producto-text">
          <p class="producto-title">PRODUCTO2 20mg</p>
          <p class="producto-sub">Atorvastatina</p>
          <p class="producto-pres">30 Comprimidos</p>
        </div>
      </div>

      <div class="producto-precio">
        10.000 $
      </div>
    </div>
  </div>

  <!-- Botón cancelar compra -->
  <div class="cancelar-container">
    <button class="btn-cancelar">Cancelar compra</button>
  </div>

</div>
