<nav class="navbar">
  <div class="navbar-left">
    <a
      routerLink="/dashboard-bodega"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Inicio
    </a>

    <a
      routerLink="/agregar-stock-pedido"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Recepcion de stock
    </a>
    <a
      routerLink="/inventario-lotes-bodega"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Inventario Lotes
    </a>
    
       <a
      routerLink="/formularo-merma-inventario"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Ingreso merma
    </a>

          <a
      routerLink="/mermas-inventario"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Inventario Mermas
    </a>
    

    <a
      routerLink="/detalle-venta-vendedor"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
     
    </a>
  </div>

  <div class="navbar-right">
    <a
      routerLink="/vendedor/perfil"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Cerrar sesion
    </a>
  </div>
</nav>
