.navbar {
  width: 100%;
  background: #0f1123;
  padding: 1.5vh 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b9b9b9;
}

.navbar-left a,
.navbar-right a {
  margin-right: 2vw;
  text-decoration: none;
  font-size: 1.2rem;
  color: #b9b9b9;
  transition: 0.2s;
}

/* Hover: la letra se pone blanca */
.navbar-left a:hover,
.navbar-right a:hover {
  color: white;
}

/* EL ITEM ACTIVO (ruta actual) */
.active {
  color: white !important;
  font-weight: 600;
}

/* Icono redondo del perfil */
.perfil-icon {
  width: 38px;
  height: 38px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-left: 1vw;
}
