<nav class="navbar">
  <div class="navbar-left">
    <a
      routerLink="/stock-critico-qf"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Stock critico
    </a>
    <a
      routerLink="/stock-normal-qf"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Stock Normal
    </a>
    
    <a
      routerLink="/crear-productos"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Crear medicamentos
    </a>

   
  </div>

  <div class="navbar-right">
    <a
      routerLink="/vendedor/perfil"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Cerrar sesión
    </a>


  </div>
</nav>
