<nav class="navbar">
  <div class="navbar-left">
    <a
      routerLink="/home-qf"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Químico Farmacéutico
    </a>

    <a
      routerLink="/crear-productos"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Crear Producto
    </a>
  </div>

  <div class="navbar-right">
    <a
      routerLink="/vendedor/perfil"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Perfil
    </a>

    <div class="perfil-icon"></div>
  </div>
</nav>
