<!-- ingreso-merma-form.component.html -->

<div class="form-container">

  <h2>Formulario de merma</h2>

  <div class="section-title">Identificación del producto</div>

  <div class="form-grid">

    <!-- Código del producto -->
    <div class="form-group">
      <label>Código del producto</label>
      <div class="input-btn-row">
        <input type="text" [(ngModel)]="form.codigoProducto" />
        <button class="dark-btn" (click)="buscarProducto()">Buscar</button>
      </div>
    </div>

    <!-- Tipo de merma -->
    <div class="form-group">
      <label>Tipo de merma</label>
      <select [(ngModel)]="form.tipoMerma">
        <option value="" disabled selected>Seleccione un tipo...</option>
        <option *ngFor="let opcion of opcionesMerma" [value]="opcion">
          {{ opcion }}
        </option>
      </select>
    </div>
  </div>

  <div class="section-title">Información del lote</div>

  <div class="form-grid">

    <div class="form-group">
      <label>Información del lote</label>
      <input type="text" [(ngModel)]="form.informacionLote" readonly />
    </div>

    <div class="form-group">
      <label>Número del lote</label>
      <input type="text" [(ngModel)]="form.numeroLote" readonly />
    </div>
  </div>

  <div class="section-title">Detalle de la merma</div>

  <div class="form-grid">

    <div class="form-group">
      <label>Cantidad de merma (unidades)</label>
      <input type="number" [(ngModel)]="form.cantidadMerma" />
    </div>

    <div class="form-group full">
      <label>Descripción detallada</label>
      <textarea [(ngModel)]="form.descripcion"></textarea>
    </div>

  </div>

  <!-- Botones -->
  <div class="buttons">
    <button class="clear-btn" (click)="limpiar()">Limpiar</button>
    <button class="continue-btn" (click)="finalizar()">Finalizar</button>
  </div>

</div>
