.background-wrapper {
  width: 100%;             
  height: 100vh;           
  overflow: hidden;
  position: relative;
}

/* Imagen izquierda grande y responsive */
.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

 
  clip-path: ellipse(85% 75% at 0% 50%);
}
