.background-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Recorte en forma de "media luna" */
.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  clip-path: ellipse(75% 75% at 0% 50%);
}
