.pasos-container {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 40px;
  font-size: 1.1rem;
  color: #777;
}

.paso.active {
  color: #000;
  font-weight: 800;
}

.arrow {
  color: #bbb;
}
