.login-page-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #0f1123;
}


.login-right {
  width: 20%;
  display: flex;
  justify-content: flex-start;   /* antes: center */
  align-items: flex-start;        /* antes: center */
  padding-top: 70px;              /* SUBE EL FORMULARIO */
  padding-right: 29%;
}
