<div class="login-form-wrapper">
  <!-- LOGO SUPERIOR -->
  <div class="logo-area">
    <img ngSrc="assets/images/medicon.png" class="logo-img" height="686" width="684"/>
    <p class="brand">Farmacia Pucón</p>
  </div>

  <!-- TÍTULO -->
  <h2 class="title">¡Bienvenido de nuevo!</h2>

  <!-- FORMULARIO -->
  <form (ngSubmit)="onSubmit()" class="form" #loginForm="ngForm">

    <!-- Mensaje de error -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <input
      type="text"
      placeholder="Usuario"
      [(ngModel)]="username"
      name="username"
      required
      [disabled]="isLoading"/>

    <input
      type="password"
      placeholder="Contraseña"
      [(ngModel)]="password"
      name="password"
      required
      [disabled]="isLoading"/>

    <button
      type="submit"
      class="login-btn"
      [disabled]="isLoading || !loginForm.form.valid">
      <span *ngIf="!isLoading">Iniciar sesión</span>
      <span *ngIf="isLoading">Cargando...</span>
    </button>

  </form>
</div>
